/*=============================================
=            Colors			              =
=============================================*/
/*==========  VTEX 		==========*/
/*==========  VTEX Lab  ==========*/
/*==========  Primary  ==========*/
/*==========  Secondary  ==========*/
/*=============================================
=            Typography			              =
=============================================*/
body {
  background-color: #f4f7fa;
  color: #777777;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.lead {
  font-family: "jaf-bernino-sans-condensed", "Arial Narrow", sans-serif;
  color: #5c6f7f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
h1,
h2 {
  font-weight: 300;
}
h3,
h4,
h5 {
  font-weight: 400;
}
h6 {
  font-weight: 600;
}
hr {
  display: block;
  width: 200px;
  margin: 60px auto 70px auto;
  border: 0;
  border-top: 1px solid #dddddd;
}
.topbar {
  background-color: #003b5e;
}
.topbar h1 {
  font-size: 1.6em;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  line-height: 44px;
  opacity: .3;
}
.logo {
  float: left;
  display: block;
  margin-right: 10px;
  margin-top: 6px;
  opacity: .5;
}
.logo .polygon {
  fill: #ffffff;
}
.logo .v-bigger {
  fill: #ffffff;
}
.logo .circle {
  stroke-width: 7;
  fill: none;
  stroke: #ffffff;
}
section h2 {
  font-size: 3.4em;
  text-align: center;
}
section .lead {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
section p {
  font-size: 16px;
}
.main-content {
  background: #ffffff;
}
.colours {
  margin-bottom: 10px;
}
.color-swatch {
  height: 252px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.color-swatch:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
}
.color-swatch p {
  background-color: #fff;
  border-top: 1px solid #dbe1e5;
  position: absolute;
  bottom: 0;
  padding: 18px 7px;
  text-align: center;
  margin: 0;
  width: 100%;
}
.color-swatch p span {
  font-family: "jaf-bernino-sans-condensed", "Arial Narrow", sans-serif;
  color: #014673;
  display: block;
}
.color-swatch.swatch-vtex-a {
  background-color: #003b5e;
}
.color-swatch.swatch-vtex-b {
  background-color: #f68222;
}
.color-swatch.swatch-vtex-c {
  background-color: #ffffff;
}
.color-swatch.swatch-lab-a {
  background-color: #36b7d7;
}
.color-swatch.swatch-lab-b {
  background-color: #d5f0f7;
}
.color-swatch.swatch-lab-c {
  background-color: #f7645e;
}
.color-swatch.swatch-lab-d {
  background-color: #3aa850;
}
.color-swatch.swatch-lab-e {
  background-color: #4bd268;
}
.color-swatch.swatch-lab-f {
  background-color: #888888;
}
.color-swatch.swatch-lab-g {
  background-color: #dddddd;
}
.color-swatch.swatch-lab-h {
  background-color: #f5f5f5;
}
.color-swatch.swatch-primary-a {
  background-color: #014673;
}
.color-swatch.swatch-primary-c {
  background-color: #222222;
}
.color-swatch.swatch-primary-d {
  background-color: #777777;
}
.color-swatch.swatch-primary-e {
  background-color: #f4f7fa;
}
.color-swatch.swatch-primary-f {
  background-color: #c8ced6;
}
.color-swatch.swatch-primary-g {
  background-color: #dbe1e5;
}
.color-swatch.swatch-primary-h {
  background-color: #5c6f7f;
}
.color-swatch.swatch-primary-i {
  background-color: #ef4836;
}
.color-swatch.swatch-primary-j {
  background-color: #7af512;
}
